{% extends "base.html.twig" %}
{% block title %}My Recettes - Nouvel ingrédient{% endblock %}
{% block body %}
<div class="container">
<h1 class="mt-4">Création d'un ingrédient</h1>

    {{ form_start(form) }}
    {{ form_row(form._token) }}
    <div class="form-group">
        {{ form_label(form.name) }}
       {{ form_widget(form.name) }}
        <div class="form_error">
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.price) }}
        {{ form_widget(form.price) }}
       <div class="form_error">
           {{ form_errors(form.price) }}
       </div>
    </div>
    <div class="form_group">
        {{ form_row(form.submit) }}
    </div>
</div>
    <div class="form_group">
        <button type="submit">Créer</button>
    </div>

</div>
{% endblock %}